<%= render partial: "rapidfire/answers/errors", locals: {answer: answer} %>

<div class="form-group answer-form-group">

  <h6 class="d-inline">Q<%= answer.question_id %>:</h6>
  <%= f.label :answer_text, answer.question.question_text, class:'answer-form-labels d-inline' %>
  <br>

  <div class="answer-input-container smiley-container">

    <%- answer.question.options.each_with_index do |option, index| %>

      <div class="form-group sub">
      
        <%= f.label "answer_text_#{index}" do %>
        <%= f.radio_button :answer_text, option, id: "#{f.object_name.gsub(/\]\[|[^-a-zA-Z0-9:.]/, "_").sub(/_$/, "")}_answer_text_#{index}" %>
              
          <% if option == 'Very happy' %>
              <%=  image_tag 'strongly-agree.png', class:'smiley' %>
          <% elsif option == 'Happy' %>
              <%= image_tag 'agree.png', class:'smiley' %>
          <% elsif option == 'Neutral' %>
              <%= image_tag 'neutral2.png', class:'smiley' %>
          <% elsif option == 'Unhappy' %>
              <%= image_tag 'disagree.png', class:'smiley' %>
          <% elsif option == 'Very unhappy' %>
              <%= image_tag 'strongly-disagree.png', class:'smiley' %>      
          <% end %>
                  
        <% end %>

      </div>

    <% end %>

  </div>

</div>
<hr>