<div class="container content-wrapper">

  <div class="content">
    
    <div class="content-body">
      <h4>Your surveys</h4>
      <%= image_tag 'survey-icon', id:"survey-icon"%>

      <div class="form-container new-form">
      
        <%= form_for form, as: :question, url: url, method: method do |f| %>
          <%- unless form.errors.empty? %>
            <ul>
              <%- form.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>

          <div class="form-group">
            <%= f.label "Enter your question" %>
            <br>
            <%= f.text_field :question_text %>
          </div>

          <div class="form-group">
            <%= f.label "Select your answer type" %>
            <br>
            <%#= f.select :type, ::Rapidfire::QuestionForm::QUESTION_TYPES, {}, id: "question_type" %>
            <select id="question_type" name="question[type]">
              <option value=""></option>
              <option value="Rapidfire::Questions::Long">Textbox</option>
              <option value="Rapidfire::Questions::Radio">Smiley rating</option>
              <option value="Rapidfire::Questions::Checkbox">Custom checkboxes</option>

            </select>
          </div>

          <div class="form-group" id="custom-question-type-group" style="display:none;">
            <%= f.label :answer_options, class: "d-block" %>
            <%= f.text_area :answer_options, 
            rows: 5,
            placeholder: 
              "Option 1:
Option 2:
Option 3:
Option 4:
Option 5:" %>


          </div>

          <div class="form-group require-answer-group">
            <%= f.label "Require answer" %>
            <%= f.check_box :answer_presence %>
          </div>

        <%# <div class="form-group"> %>
          <%#= f.label :answer_maximum_length %>
          <%#= f.text_field :answer_maximum_length %>
        <%# </div> %>

        <%# Come back to this, you've added the do/end but unsure if question redirected back here before anyway,
        now going to try when submitting a new survey to redirect to %>
          <%= f.submit submit_text, class:"survey-btn primary" do %>
            <%= link_to survey_questions_path(survey) %>
          <% end %>
          
        <% end %>
      </div>
    </div>
  </div>
</div>


<script>

  document.getElementById('question_type').addEventListener('change', function () {
  const style = (this.value == "Rapidfire::Questions::Checkbox") ? 'block' : 'none';
  document.getElementById('custom-question-type-group').style.display = style;
  
  const s = document.getElementById('question_answer_options');
  if (this.value == "Rapidfire::Questions::Radio") {
    s.textContent = "happy1" + "\n" + "happy2" + "\n"+ "happy3" + "\n" + "happy4" + "\n" + "happy5";
  };

  })

</script>



