<tr id="question_<%= question.id %>">
  <td class="border-right"><%= question.id %></td>
  <td><%= question.question_text %></td>
 
  <td>
    <% if question.type.split("::").last == "Long" %>
      <%="Textbox" %>
    <% elsif question.type.split("::").last == "Checkbox" %>
      <%= "Custom checkboxes" %>
    <% else question.type.split("::").last == "Radio" %>
      <%= "Smiley rating" %>
    <% end %>
  </td> 

  <td>
    <%= link_to [:edit, question.survey, question] do %>
      <i class="fas fa-edit"></i>
    <% end %>

    <%= link_to [question.survey, question], method: :delete do %>
      <i class="fas fa-trash"></i>
    <% end %>
  </td>
</tr>
