<div class="container content-wrapper">

  <div class="content">

    <%#= image_tag 'top-panel.png' %>
    
    <div class="content-body">
      <h5><%= @survey.name %></h5>
      <%= link_to edit_survey_path(@survey) do %>
        <i class="fas fa-edit"></i>
      <% end %>

      <br>
      
        <p><strong>Description:  </strong><%= @survey.introduction %></p>

      <div class="content-question-index">

        <table class="custom-table">
          <colgroup>
            <col width="6%">
            <col width="45%">
            <col width="25%">
            <col>
          </colgroup>
          <thead>
            <tr>
              <th></th>
              <th><%= t('rapidfire.questions.question') -%></th>
              <th>Answer type</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "question", collection: @questions %>
          </tbody>
        </table>

        <%= link_to 'Add a question', new_survey_question_path(@survey), class:'survey-btn primary wide-btn' %>

        <hr/>

        <%#= link_to t('rapidfire.questions.back'), surveys_path(@survey) %>
        <%= link_to "Back to surveys", surveys_path(@survey) %>
      </div>
    </div>
  </div>
</div>

