<div class="container survey-page-container">

  <div class="survey-heading-container">
    <h5><%= @survey.name %></h5>
    <%= image_tag 'survey-icon', id:"survey-icon"%>
  </div>

  <table class="mini-table">
  <colgroup>
    <col width="50%">
    <col>
    <col>
  </colgroup>
    <tr>
      <td><strong>Survey name:</strong></td>
      <td><%= link_to @survey.name, edit_survey_path(@survey) %></td></tr>
    <tr>
      <td><strong>Description:</strong></td>
      <td><%= link_to @survey.introduction, edit_survey_path(@survey) %></td>
    </tr>
  </table>

  <table class="custom-table">
    <colgroup>
      <col width="6%">
      <col width="45%">
      <col width="25%">
      <col>
    </colgroup>
    <thead>
      <tr>
        <th></th>
        <th><%= t('rapidfire.questions.question') -%></th>
        <th>Answer type</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "question", collection: @questions %>
    </tbody>
  </table>

  <button class="survey-btn secondary wide-btn">
    <%= link_to 'Add a question', new_survey_question_path(@survey) %>
  </button>

  <hr/>

  <%#= link_to t('rapidfire.questions.back'), surveys_path(@survey) %>
  <%= link_to "Back to surveys", surveys_path(@survey) %>

</div>