<div class="container content-wrapper">

  <div class="content">

    <div class="content-body">

      <div class="survey-heading">
        <h4><%= @survey.name %></h4>
        <%= image_tag 'survey-icon', id:"survey-icon"%>
      </div>

      <hr/>

      <p><em><%= @survey.introduction %></em></p>

      <%= form_for([@survey, @attempt_builder]) do |f| %>

        <%- @attempt_builder.answers.each do |answer| %>
        
          <%= f.fields_for("#{answer.question.id}", answer) do |answer_form| %>
            <%= render_answer_form_helper(answer, answer_form) %>
          <% end %>

        <% end %>

        <%= f.submit submit_text, class:'survey-btn primary wide-btn-mobile' %>

      <% end %>

    </div>

  </div>

</div>